<a href="https://colab.research.google.com/github/jainavnish421/Machine-Learning/blob/main/ML_Experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 14/02/2023

# square of any natural no.
val = int(input("Enter your value: "))
for x in range(1,val+1):
  print('Square of ',x,' is ', pow(x,2))

Enter your value: 2
Square of  1  is  1
Square of  2  is  4

In [2]:
# 14/02/2023

# count no. of spaces in string

st=('I am Avnish Jain')
li=[0 for i in range(len(st)) if st[i]==' ']
print(len(li))

3

In [3]:
# 14/02/2023

# print table of 5 using list
for x in range(1,10+1):
  print('5 x',x,' = ',5*x)

5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50