<a href="https://colab.research.google.com/github/jainavnish421/Machine-Learning/blob/main/ML_lab_1_14_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# 14/02/2023

# square of any natural no.
val = int(input("Enter your value: "))
for x in range(1,val+1):
  print('Square of ',x,' is ', pow(x,2))

Enter your value: 4
Square of  1  is  1
Square of  2  is  4
Square of  3  is  9
Square of  4  is  16

In [ ]:
# 14/02/2023

# count no. of spaces in string

st=('I am Avnish Jain')
li=[0 for i in range(len(st)) if st[i]==' ']
print(len(li))

In [34]:
# 14/02/2023

# print table of 5 using list
for x in range(1,10+1):
  print('5 x',x,' = ',5*x)

5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50

In [35]:
# 15/02/2023

#count number of 6 between 1 to 1000
count = 0
for i in range(1, 1001):
    count += str(i).count('6')
print(count)

300

In [36]:
# 15/02/2023

# Find number between 1 to 1000 divisible by 2 & 5
for x in range(1,1000):
  if (x%2==0):
    if (x%5==0):
      print(x)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990

Importing Dataset

In [37]:
# 14/02/2023

# Data processing tool
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('Data.csv')
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-2].values

print(x)
print(y)

[[1 'France' 44.0 72000.0 'No']
 [2 'Spain' 27.0 48000.0 'Yes']
 [3 'Germany' 30.0 54000.0 'No']
 [4 'Spain' 38.0 61000.0 'No']
 [5 'Germany' 40.0 nan 'Yes']
 [6 'France' 35.0 58000.0 'Yes']
 [7 'Spain' nan 52000.0 'No']
 [8 'France' 48.0 79000.0 'Yes']
 [9 'Germany' 50.0 83000.0 'No']
 [10 'France' 37.0 67000.0 'Yes']]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

Taking Care of missing data

In [38]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy='mean')
imputer.fit(X[:, 2:5])
X[: ,2:5] = imputer.transform(X[:, 2:5])

In [39]:
print(x)

[[1 'France' 44.0 72000.0 'No']
 [2 'Spain' 27.0 48000.0 'Yes']
 [3 'Germany' 30.0 54000.0 'No']
 [4 'Spain' 38.0 61000.0 'No']
 [5 'Germany' 40.0 nan 'Yes']
 [6 'France' 35.0 58000.0 'Yes']
 [7 'Spain' nan 52000.0 'No']
 [8 'France' 48.0 79000.0 'Yes']
 [9 'Germany' 50.0 83000.0 'No']
 [10 'France' 37.0 67000.0 'Yes']]

Encoding Categorical Data

Encoding the Independent Variable

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
X=np.array(ct.fit_transform(x))

In [41]:
print(x)

[[1 'France' 44.0 72000.0 'No']
 [2 'Spain' 27.0 48000.0 'Yes']
 [3 'Germany' 30.0 54000.0 'No']
 [4 'Spain' 38.0 61000.0 'No']
 [5 'Germany' 40.0 nan 'Yes']
 [6 'France' 35.0 58000.0 'Yes']
 [7 'Spain' nan 52000.0 'No']
 [8 'France' 48.0 79000.0 'Yes']
 [9 'Germany' 50.0 83000.0 'No']
 [10 'France' 37.0 67000.0 'Yes']]

Encoding the Dependent Variable

In [42]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

In [ ]:
print(y)

Splitting the dataset into the Training set and Test set

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)

In [45]:
print(X_train)

[[0.0 0.0 1.0 7 nan 52000.0 'No']
 [0.0 1.0 0.0 5 40.0 nan 'Yes']
 [1.0 0.0 0.0 1 44.0 72000.0 'No']
 [0.0 0.0 1.0 4 38.0 61000.0 'No']
 [0.0 0.0 1.0 2 27.0 48000.0 'Yes']
 [1.0 0.0 0.0 8 48.0 79000.0 'Yes']
 [0.0 1.0 0.0 9 50.0 83000.0 'No']
 [1.0 0.0 0.0 6 35.0 58000.0 'Yes']]

In [46]:
print(X_test)

[[0.0 1.0 0.0 3 30.0 54000.0 'No']
 [1.0 0.0 0.0 10 37.0 67000.0 'Yes']]

In [ ]:
print(y_train)

In [ ]:
print(y_test)

feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train)

[[0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 'Spain' nan 52000.0 'No']
 [0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 'Germany' 40.0 nan 'Yes']
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'France' 44.0 72000.0 'No']
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 'Spain' 38.0 61000.0 'No']
 [0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Spain' 27.0 48000.0 'Yes']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 'France' 48.0 79000.0 'Yes']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 'Germany' 50.0 83000.0 'No']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 'France' 35.0 58000.0 'Yes']]

In [ ]:
print(X_test)

[[0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Germany' 30.0 54000.0 'No']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 'France' 37.0 67000.0 'Yes']]